.search-input {
    font-size: 32px;
    border-radius: 5px;
    color: #999;
    width: 260px;
    height: 40px;
    padding: 10px 80px 10px 20px;
    background-position: 300px 8px;
    background-image: url('http://www.kirupa.com/images/search.png');
    background-repeat: no-repeat;
  }