input {
    width: 260px;
    padding-right: 80px;
    padding-left: 80px;
    background-position: 350px -10px;
    background-image: url('http://www.kirupa.com/images/search.png');
    background-repeat: no-repeat;
  }